In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [33]:
scardec = pd.read_csv('/home/earthquakes1/homes/Rebecca/phd/stf/data/scardec.csv')
isc = pd.read_csv('/home/earthquakes1/homes/Rebecca/phd/stf/data/isc.csv')

In [34]:
new_index = []
old_index = []
no_match = []
for i in range(0,len(isc)):
    df_tall = scardec[(scardec['year'] == isc.year[i])
                        & (scardec['month'] == isc.month[i])
                        & (scardec['day'] == isc.day[i])
                        & (scardec['hour'] == isc.hour[i])
                        & (scardec['minute'] == isc.minute[i])]
    #print(df_tall.index)
    if df_tall.index.size == 0:
        no_match.append(i)
    else:
        old_index.append(i)
        new_index.append(df_tall.index[0])

In [35]:
isc_filtered = isc.filter(items=old_index, axis=0)
isc_nomatch = isc.filter(items=no_match, axis=0)

In [36]:
isc_nomatch['scardec_name'] = None
isc_nomatch['scardec_magnitude'] = None
isc_nomatch['scardec_mag_type'] = None
isc_nomatch['moment'] = None

In [37]:
isc_nomatch = isc_nomatch[['scardec_name', 'isc_name', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'latitude', 'longitude', 'depth', 'scardec_magnitude',
       'scardec_mag_type', 'moment', 'isc_magnitude',
       'isc_mag_type', 'isc_mag_unc']]

In [38]:
isc_nomatch

,scardec_name,isc_name,year,month,day,hour,minute,second,latitude,longitude,depth,scardec_magnitude,scardec_mag_type,moment,isc_magnitude,isc_mag_type,isc_mag_unc
1,None,617094574,2020,1,2,11,25,5,-5.7593,125.0443,21.8833,None,None,None,5.39,mb,0.12
2,None,617118491,2020,1,3,15,28,52,11.7300,-86.2848,113.4677,None,None,None,5.23,mb,0.15
3,None,617125615,2020,1,6,10,32,19,17.7486,-66.8286,8.0798,None,None,None,5.95,mb,0.13
5,None,617152277,2020,1,9,8,38,8,62.2654,171.0078,8.9598,None,None,None,5.97,mb,0.19
6,None,617178924,2020,1,15,7,55,30,-10.2336,124.0585,16.1393,None,None,None,5.93,mb,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,None,619624237,2020,12,23,0,51,21,8.3825,-103.1665,19.0000,None,None,None,5.08,mb,0.10
147,None,619626947,2020,12,27,6,37,33,38.4877,39.2206,9.6011,None,None,None,5.39,mb,0.15
150,None,619646130,2020,11,22,0,54,55,-34.6163,-73.1423,13.7676,None,None,None,6.06,mb,0.15
153,None,621237324,2020,12,29,7,10,29,43.3575,-127.1509,16.8762,None,None,None,5.34,mb,0.14
158,None,624898178,2020,12,12,7,18,54,40.0908,142.0875,54.9750,None,None,None,5.39,mb,0.16

In [39]:
isc_filtered.index = new_index
isc_nomatch.index = np.arange(4089, 4089+len(isc_nomatch))

In [47]:
combined = pd.concat([scardec, isc_filtered[["isc_name","isc_magnitude","isc_mag_type", "isc_mag_unc"]]], axis=1, join='outer')
combined = pd.concat([combined, isc_nomatch])#,  join='outer')

In [53]:
combined.columns

Index(['scardec_name', 'isc_name', 'year', 'month', 'day', 'hour', 'minute',
       'second', 'latitude', 'longitude', 'depth', 'scardec_magnitude',
       'scardec_mag_type', 'moment', 'isc_magnitude', 'isc_mag_type',
       'isc_mag_unc'],
      dtype='object')

In [51]:
cols = ['scardec_name', 'isc_name', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'latitude', 'longitude', 'depth', 'scardec_magnitude',
       'scardec_mag_type', 'moment', 'isc_magnitude',
       'isc_mag_type', 'isc_mag_unc']

In [52]:
combined = combined[cols]

In [10]:
combined.sort_values(by=['year', 'month', 'day', 'hour', 'minute', 'second'], inplace=True)

In [11]:
start = datetime.datetime(1992, 1, 1)
days_count = []
for index, row in combined.iterrows():
    event_date = datetime.datetime(row.year, row.month, row.day)
    days_count.append((event_date-start).days)
combined['days_count'] = days_count

In [54]:
combined[combined['isc_name'].notnull()]

,scardec_name,isc_name,year,month,day,hour,minute,second,latitude,longitude,depth,scardec_magnitude,scardec_mag_type,moment,isc_magnitude,isc_mag_type,isc_mag_unc
90,FCTs_20190105_184711_ANDREANOF_ISLANDS__ALEUTI...,614554713.0,2019,1,5,18,47,11.0,51.3350,-178.1180,36.0000,5.991,mw,1.220000e+18,5.83,mb,0.14
360,FCTs_20201227_213914_OFF_COAST_OF_CENTRAL_CHILE,621237270.0,2020,12,27,21,39,14.0,-39.3400,-74.9850,11.0000,6.766,mw,1.773000e+19,6.39,mb,0.10
501,FCTs_20200306_102842_SOUTHWEST_INDIAN_RIDGE,617624433.0,2020,3,6,10,28,42.0,-31.3680,58.3240,5.0000,6.049,mw,1.492000e+18,5.65,mb,0.16
560,FCTs_20201206_164742_NORTHERN_CHILE,621560715.0,2020,12,6,16,47,42.0,-20.3950,-69.0610,105.0000,6.121,mw,1.912000e+18,6.03,mb,0.11
598,FCTs_20200314_100117_KERMADEC_ISLANDS_REGION,617787532.0,2020,3,14,10,1,17.0,-27.3670,-175.6100,17.0000,6.364,mw,4.433000e+18,6.17,mb,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4178,None,619624237.0,2020,12,23,0,51,21.0,8.3825,-103.1665,19.0000,NaN,None,NaN,5.08,mb,0.10
4179,None,619626947.0,2020,12,27,6,37,33.0,38.4877,39.2206,9.6011,NaN,None,NaN,5.39,mb,0.15
4180,None,619646130.0,2020,11,22,0,54,55.0,-34.6163,-73.1423,13.7676,NaN,None,NaN,6.06,mb,0.15
4181,None,621237324.0,2020,12,29,7,10,29.0,43.3575,-127.1509,16.8762,NaN,None,NaN,5.34,mb,0.14
4182,None,624898178.0,2020,12,12,7,18,54.0,40.0908,142.0875,54.9750,NaN,None,NaN,5.39,mb,0.16

In [55]:
combined.to_csv('/home/earthquakes1/homes/Rebecca/phd/stf/data/combined.csv', index=False)